/* helper code for border colors on divs*/
body, .content-1, .content-2, .content-3, .content-4, .footer, .list-container, div, ul, a {
    border-style: dotted;
    border-color: red;
}
/**/

/*Shared styles across multiple containers*/

header, .content-1, .content-4 {
    padding: 10px;
}

/*Styles for header and child element*/

header, .content-1, footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;    
}

.header-logo, .list-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.list-container {
    flex: 1;
    justify-content: end;
}

a {
    padding: 10px;
}

/**/

.signup-1, .image-placeholder {
    width: 50%;
}

.image-placeholder, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/

.content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.image-header {
    width: 40%;
    text-align: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 60%;
}
