body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: navy;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px;
}

.content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    padding: 20px;
}

.signup-1, .image-placeholder {
    height: 200px;
    width: 400px;
    color: white;
}

.image-placeholder {
    background-color: grey;
    text-align: center;
    line-height: 200px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content-3 {
    background-color: lightgray;
    padding: 50px;
}

.image-container {
    display: flex; /*add flex shrink content here*/
}

.image-and-text {
    height: auto;
    width: 200px;   
    margin: 10px;
}